img{
	width: 400px;
}
.vermelho{
	color: red;

}

button{
	width: 200px;
	height: 20px;
}

button:hover{
	border: 5px solid #000;
	margin-left: 5px;
	margin-top: 5px;
}
.cachorro{
	  margin-left: : 200px;
	  float: left;

}

#mastertech{
	background-color: blue;
}

#

#div2{
	background-color: pink;
	text-align: center;
	border: 3px solid black;

	padding-top: 
}